<h2>Student Form</h2>
<%= form_tag students_path do %>
  <h5>First Name:</h5>
  <%= text_field_tag :first_name %>
  <br>
  <h5>Last Name:</h5>
  <%= text_field_tag :last_name %>
  <br>
  <%= submit_tag "Submit Student" %>
<% end %>
